@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$basic-dark: #333333;
$grey: #888888;
$light-grey: #eeeeee;
$red: #cf2323;
$green: #0fc57c;

$basic-font: Lato, sans-serif;
